/* <style>
        body{
            font: normal bold 1em sans;
        }
    </style>*/

*{
    font-family: Arial, Helvetica, sans-serif;
}

p{
    text-align: justify;
}

body{
    background-image: linear-gradient( to right, #D9D9D9, #731209,#F27141);

}

main{
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 5px;
    box-shadow: 2px 2px 15px rgba(185, 87, 51, 0.663);
}

h1{
color:#F27141 ;
text-align: center;
text-shadow: 3px 3px 10px #9c482a42;
}

h2{
color: #fa7342bb;
}
